{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-primary" href="{{ url('task_index') }}">Tasks</a>
    <a class="btn btn-primary" href="{{ url('note_index') }}">Notes</a>
{% endblock %}
