{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_index'|trans }}
{% endblock %}

{% block body %}
    <h1>Witaj w aplikacji do notatek i list zadań</h1>
    <h3>Zaloguj się lub zarejestruj, aby móc korzystać z jej funkcjonalności</h3>
{% endblock %}