{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_index'|trans }}
{% endblock %}

{% block body %}
    <br><h1>Witaj w aplikacji do notatek i list zadań</h1>
<h6>Get organized jest jednym z najpopularniejszych na świecie programów do zarządzania pracą,
    <br>które możemy obsługiwać z poziomu przeglądarki internetowej.

    Platforma  stanowi bardzo rozbudowaną witrynę do pracy. Możesz utworzyć notatki i przypisać je do kategorii,
    <br> a także dodać do nich tagi. Listy zadań umożliwią Ci sprawne zarządzanie życiem codziennym.
    <br>
    Get organized jest całkowicie darmowe. Wymaga jedynie rejestracji bezpłatnego konta użytkownika.</h6>
{% endblock %}